<div class="navbar-connect d-flex justify-content-center">
  <div class="container-connect-nav d-flex align-items-center justify-content-between">
    <%= link_to root_path, class: "logo-landing" do %>
      <%= image_tag "chuck__1_-removebg-preview.png", class: "mt-1" %>
    <% end %>
    <%=link_to "Se connecter", new_user_session_path, class: "btn-minimal" %>
  </div>
  </div>
</div>



<div class="container-connect d-flex justify-content-center align-items-start">
  <div class="block-connect me-2 mt-5">
    <div class="form-connect">
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag "Chuck-rounded.png", class: "my-1 logo-connect" %>
      </div>
      <h5 class="mb-4 text-center">Bienvenue !</h5>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs-connect">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "email", placeholder: "Adresse email" }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", placeholder: "Mot de passe" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      input_html: { autocomplete: "new-password", placeholder: "Confirmation mot de passe" } %>
        </div>

          <div class="form-actions">
            <%= f.button :submit, "S'inscrire", class: "btn-basic-bleu-large-onboard", value: "S'inscrire" %>
          </div>
      <% end %>
    </div>
    <div class="links-connect">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
