<%= link_to booking_path(booking), class: "text-decoration-none" do %>
  <div class="card-horizontal-booking-passed">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <% if booking.client.photo.attached? %>
          <%= cl_image_tag booking.client.photo.key, crop: :fill, class: "avatar-large" %>
        <% else %>
          <% initials = "#{booking.client.first_name[0]}#{booking.client.last_name[0]}" %>
          <% color_variations = ['circle-pink', 'circle-green', 'circle-red', 'circle-orange'] %>
          <% circle_class = color_variations[booking.client.id % color_variations.size] %>
          <div class="avatar-large">
            <div class="<%= circle_class %>"><%= initials %></div>
          </div>
        <% end%>
        <div class="card-infos d-flex align-items-start flex-column">
            <p> <h4><%= Client.find(booking.client_id).full_name %></h4></p>
            <p class="date-card"><%= l(booking.start_time, format: '%A %e %B').capitalize %></p>
            <p class="time-card"><%= l(booking.start_time, format: '%H') %>h<%= l(booking.start_time, format: '%M') %> à <%= l(booking.end_time, format: '%H') %>h<%= l(booking.end_time, format: '%M') %> </p>
            <p><i class="fa-solid fa-fire me-1"></i> <%= booking.formule.name %> </p>
        </div>
      </div>
      <div class="price-infos d-flex align-items-center flex-column justify-content-center">
          <p class="price-tag-paid"><%= booking.price.to_i %>€</p>
      </div>
    </div>
  </div>
<% end %>
