<%= turbo_frame_tag "daily-card-#{weekly_index}-#{daily_index}" do %>
  <% pattern = "%H:%M"  %>
  <% unless daily_datetimes.nil? %>

    <div class="daily-dispo-card-user mb-3">
      <p class="date-text"><%= l(daily_datetimes.first, format: "%A %e %B").capitalize %></p>

      <div class="available-block" data-controller="voir-plus-btn">
          <div class="dispo-slots">
            <% daily_datetimes.each do |datetime| %>
              <% if datetime > Time.zone.now %>
                <div class="dispo-slot-container" id="dispo-slot-container-<%= daily_index %>-<%= datetime.to_i %>">
                  <%= link_to datetime.strftime(pattern), date_new_reservation_path(datetime: datetime), class: "disponibilites-btn" %>
                  <% localized_datetime = l(DateTime.parse(datetime.strftime('%A %d %B à %H:%M'))) %>
                  <%= link_to('<i class="fa-sharp fa-solid fa-circle-xmark"></i>'.html_safe, disponibilites_path(cancelled_slot: datetime, weekly_index: weekly_index, daily_index: daily_index), method: :get, class: "cancel-icon", onclick: "return confirm('Êtes-vous sûr de vouloir supprimer cette disponibilité ?\\n\\nDate et heure : '+ '#{localized_datetime}');") %>
                </div>
              <%end%>
            <%end%>

            <div class="add-slot" data-action="click->voir-plus-btn#toggle">
              <i class="fa-solid fa-plus"></i>
            </div>

          </div>
          <div class="d-none content-add mx-2 my-3" data-voir-plus-btn-target="content">

            <% available_hours = daily_datetimes.map { |datetime| datetime.hour } %>

            <%= simple_form_for :added_slot, url: disponibilites_path, method: :get, id: "add-slot-form-#{weekly_index}-#{daily_index}", html: { class: 'form-horizontal' } do |f| %>
              <p>Choisissez un horaire à ajouter 👇</p>

              <%= f.input :day, as: :hidden, input_html: { value: daily_datetimes.first } %>
              <%= f.input :weekly_index, as: :hidden, input_html: { value: weekly_index} %>
              <%= f.input :daily_index, as: :hidden, input_html: { value: daily_index } %>
              <%= f.input :added_slot, collection: filtered_hours(daily_datetimes, @user_bookings).map { |hour| sprintf('%02d', hour) + "h00" }, input_html: { class: "form-select", data: { "voir-plus-btn-target": "select", action: "change->voir-plus-btn#selectChange" } }, label: false %>
              <button type="submit" class="add-btn" data-voir-plus-btn-target="submit"><i class="fa-solid fa-circle-plus me-1"></i> Ajouter</button>
            <% end %>

          </div>

      </div>
    </div>
  <%end %>
<% end %>
