<%= turbo_frame_tag "daily-card-#{weekly_index}-#{daily_index}" do %>
  <% pattern = "%H:%M"  %>
  <% unless daily_datetimes.nil?  %>
    <div class="daily-dispo-card-user mb-3">
      <p class="date-text"><%= l(daily_datetimes.first, format: "%A %e %B").capitalize %></p>

      <div class="available-block" data-controller="voir-plus">
          <div class="dispo-slots">
            <% daily_datetimes.each do |datetime| %>
              <% if datetime > Time.zone.now %>
                <div class="dispo-slot-container" id="dispo-slot-container-<%= daily_index %>-<%= datetime.to_i %>">
                  <%= link_to datetime.strftime(pattern), new_booking_path(datetime), class: "disponibilites-btn" %>
                  <%= link_to('<i class="fa-sharp fa-solid fa-circle-xmark"></i>'.html_safe, disponibilites_path(cancelled_slot: datetime, weekly_index: weekly_index, daily_index: daily_index), method: :get, class: "cancel-icon", onclick: "return confirm('Êtes vous sûr de vouloir supprimer cette disponibilité ?');") %>
                </div>
              <%end%>
            <%end%>

            <div class="add-slot" data-action="click->voir-plus#toggle">
              <i class="fa-solid fa-plus"></i>
            </div>

          </div>
          <div class="d-none content-add" data-voir-plus-target="content">

            <%= simple_form_for :added_slot, url: disponibilites_path, method: :get, id: "add-slot-form-#{weekly_index}-#{daily_index}", html: { class: 'form-horizontal' } do |f| %>
            <p>Choisissez un horraire</p>
            <%= f.input :day, as: :hidden, input_html: { value: daily_datetimes.first } %>
            <%= f.input :weekly_index, as: :hidden, input_html: { value: weekly_index} %>
            <%= f.input :daily_index, as: :hidden, input_html: { value: daily_index } %>
            <div class="d-flex justify-content-start align-items-center input-block">
              <%= f.input :added_slot, collection: (0..23).map { |hour| sprintf('%02d', hour) + "h00" }, input_html: { class: "form-select", data: { controller: "select2" } }, label: false %>
              <button type="submit" class="add-btn"><i class="fa-solid fa-circle-plus"></i></button>
            </div>
          <% end %>

          </div>

      </div>
    </div>
  <%end %>
<% end %>
