<% pattern = "%H:%M"  %>
  <div class="mx-3 available">
    <% @full_datetimes.each do |weekly_datetimes| %>
        <% date = weekly_datetimes.first.first unless weekly_datetimes.empty? %>
        <% if weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week, Date.today.end_of_week)  %>
          <p><%= "Cette semaine" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 1.week, Date.today.end_of_week + 1.week) %>
          <p><%= "Semaine prochaine" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 2.week, Date.today.end_of_week + 2.week) %>
          <p><%= "Dans 2 semaines" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 3.week, Date.today.end_of_week + 3.week) %>
          <p><%= "Dans 3 semaines" %></p>
        <%else%>
        <% end %>
      <% weekly_datetimes.each_with_index do |daily_datetimes, daily_index| %>
        <div class="daily-dispo-card mb-2">
          <% unless daily_datetimes.empty?  %>
          <p class="date-text"><%= l(daily_datetimes.first, format: "%A %e %B").capitalize %></p>
          <%end %>

          <div class="available-block" data-controller="dropdown">
            <%array_size = daily_datetimes.size %>
            <%if array_size > 4 %>
              <div class="dispo-slots">
                <% daily_datetimes.first(4).each do |datetime| %>
                  <% if datetime > Time.zone.now %>
                    <%= link_to datetime.strftime(pattern), new_booking_path(datetime), class: "disponibilites-btn my-1 mx-1" %>
                    <%= link_to 'Annuler', disponibilites_path(cancelled_slot: datetime), method: :get, class: "disponibilites-btn my-1 mx-1" %>
                <% end %>
                <%end%>
              </div>
              <div class="dispo-slots-drop" id="drop-down-dispo-block-<%=daily_index%>" style="display:none;">
                <% daily_datetimes.each_with_index do |datetime, index| %>
                  <%if index >= 4 && datetime > Time.zone.now %>
                    <%= link_to datetime.strftime(pattern), new_booking_path(datetime), class: "disponibilites-btn my-1 mx-1" %>
                    <%= link_to 'Annuler', disponibilites_path(cancelled_slot: datetime), method: :get, class: "disponibilites-btn my-1 mx-1" %>
                  <% end %>
                <%end%>
              </div>
              <button class="btn-disponibilites d-flex justify-content-center align-items-center" data-action="click->dropdown#toggle">
                Voir plus</i>
              </button>

            <%else%>
              <div class="dispo-slots">
                <% daily_datetimes.each do |datetime| %>
                  <%= link_to datetime.strftime(pattern), new_booking_path(datetime), class: "disponibilites-btn my-1 mx-1" %>
                <%end%>
              </div>
            <%end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
