<% pattern = "%H:%M"  %>
  <div class="mx-3 available" data-controller="disponibilites">
    <% full_datetimes.each_with_index do |weekly_datetimes, weekly_index| %>
        <% date = weekly_datetimes.first.first unless weekly_datetimes.empty? %>
        <% if weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week, Date.today.end_of_week)  %>
          <p><%= "Cette semaine" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 1.week, Date.today.end_of_week + 1.week) %>
          <p><%= "Semaine prochaine" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 2.week, Date.today.end_of_week + 2.week) %>
          <p><%= "Dans 2 semaines" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 3.week, Date.today.end_of_week + 3.week) %>
          <p><%= "Dans 3 semaines" %></p>
        <%else%>
        <% end %>
      <% weekly_datetimes.each_with_index do |daily_datetimes, daily_index| %>
        <%= render partial: "daily_card", locals: { daily_datetimes: daily_datetimes, daily_index: daily_index, weekly_index: weekly_index } %>
      <%end%>
    <%end%>
  </div>
