<div data-controller="week-availability voir-plus-back" class="week-slots">
  <% @weeks.each_with_index do |week_start, week_index| %>
   <% week_end = week_start.end_of_week %>
    <% availability = current_user.availability_weeks.find_or_initialize_by(week_start: week_start, week_end: week_end) %>

    <div class="mx-3 mb-3 week-card">
      <div class="d-flex justify-content-between align-items-center" data-action="click->voir-plus-back#toggle" data-week-index="<%= week_index %>">
        <h4 class="h6"><%= l(week_start.to_date, format: '%e %B') %> - <%= l(week_end.to_date, format: '%e %B') %></h4>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="week-<%= availability.id %>" data-availability-id="<%= availability.id %>" data-target="toggle-availability.weekToggle" data-action="change->toggle-availability#toggleWeek" checked>
          <label class="form-check-label" for="week-<%= availability.id %>"></label>
        </div>
      </div>

      <div class="d-none mt-3" data-voir-plus-back-target="content" data-week-index="<%= week_index %>">
        <% (0..6).each do |i| %>
          <div class="d-flex justify-content-between align-items-center day-toggle-card">
            <% day_date = week_start + i.days %>
            <p><%= l(day_date, format: '%A %e %B').capitalize %></p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="day-<%= availability.id %>-<%= i %>" data-availability-id="<%= availability.id %>" data-day="available_<%= AvailabilityWeek::DAYS[i] %>" data-target="toggle-availability.dayToggle" data-action="change->toggle-availability#toggleDay" checked>
              <label class="form-check-label" for="day-<%= availability.id %>-<%= i %>"></label>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  <% end %>
</div>
