<div class="container wrapper" data-controller="form-toggle">
  <div class="px-3 mt-4 pb-4 d-flex align-items-center">
    <%= link_to client_new_finish_reservation_path(client_id: @client.id, formule_id: @formule.id), class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
    <h4 class="m-0"></h4>
  </div>
  <p class="mx-3 mb-4 text-center"><strong>Récapitulatif de la réservation en cours</strong></p>
  <div class="recap-card mx-3">
    <div class="d-flex align-items-center justify-content-start finish-card">
      <div class="d-flex justify-content-center">
        <% if @client.photo.attached? %>
          <%= cl_image_tag @client.photo.key, crop: :fill, class: "avatar-bigger" %>
        <% else %>
          <% initials = "#{@client.first_name[0]}#{@client.last_name[0]}" %>
          <% color_variations = ['circle-pink', 'circle-green', 'circle-red', 'circle-orange'] %>
          <% circle_class = color_variations[@client.id % color_variations.size] %>
          <div class="avatar-bigger">
            <div class="<%= circle_class %>"><%= initials %></div>
          </div>
        <% end%>
      </div>
      <div class="d-flex flex-column">
        <h4><%= @client.full_name %></h4>
      </div>
    </div>
  </div>
  <div class="d-flex mt-3 mx-4 border-bottom pb-3">
    <div class="finish-details-card flex-column align-items-start justify-content-start">
      <p><i class="fa-solid fa-fire me-2"></i> <%= @formule.name %></p>
      <p><i class="fa-solid fa-clock me-2"></i> <%= @formule.duration %> minutes</p>
      <p class="btn-disponibilites"><i class="fa-solid fa-coins me-2"></i> <%= @formule.price.to_i %> €</p>
      <p><i class="fa-solid fa-calendar me-2"></i> <%= date_time = l(DateTime.parse(@datetime),format: '%A %d %B de %Hh%M').capitalize %> à <%= l(DateTime.parse(@datetime) + @formule.duration.minutes, format: '%Hh%M') %></p>
    </div>
  </div>


  <div class="form-new-client mx-3">
    <%= simple_form_for @booking do |f| %>
      <% start_time = DateTime.parse(@datetime) %>
      <% end_time = start_time + @formule.duration.minutes %>
      <%= f.input :start_time, as: :hidden, input_html: { value: start_time } %>
      <%= f.input :end_time, as: :hidden, input_html: { value: end_time } %>
      <%= f.input :payment_status, as: :hidden, input_html: { value: "Non réglé" } %>
      <%= f.input :price, as: :hidden, input_html: { value: @formule.price } %>
      <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
      <%= f.input :client_id, as: :hidden, input_html: { value: @client.id } %>
      <%= f.input :formule_id, as: :hidden, input_html: { value: @formule.id }  %>
      <%= f.input :booking_type, as: :hidden, input_html: { value: "Individuel" } %>
      <%= f.input :status, as: :hidden, input_html: { value: "Accepted" } %>
      <%= f.input :origin, as: :hidden, input_html: { value: "client_new_finish" } %>


      <%= f.button :submit, "Confirmer la réservation", class: "btn-basic-bleu-large-onboard mt-4"%>
    <% end %>
      <div class="mt-3 text-center">
        <small><em><%= @client.first_name %> et toi receverez un e-mail de confirmation.</em></small>
      </div>
  </div>



</div>
