
<div class="container wrapper">

  <div class="d-flex align-items-center mx-3 mt-4 mb-4">
    <%= link_to booking_path(@booking), class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
    <h5 class="mb-0 text-center">Choisis un autre créneau</h5>
  </div>
  <div class="mx-3 available">

    <div class="d-flex justify-content-center align-items-center flex-column">
      <p class="round-square-grey me-2 text-center" ><i class="fa-solid fa-calendar me-2"></i> <%= l(@booking.start_time, format: '%A %d %B %Hh%M').capitalize %> - <%= l(@booking.end_time, format: '%Hh%M') %></p>
    </div>

    <div data-controller="slot-schedule">
       <%= form_for @booking, url: update_schedule_path(@booking), method: :patch do |f| %>
        <%= f.hidden_field :start_time, id: "start_time", data: { slot_schedule_target: "start" } %>
        <%= f.hidden_field :end_time, id: "end_time", data: { slot_schedule_target: "end" } %>
        <div class="rotate-schedule-pending" data-slot-schedule-target="rotateSchedulePending">
          <p class="text-center" >Selectionne le créneau de disponibilité qui te convient.<br> Ton client recevra un mail une fois la modification validée 📧</p>
        </div>
        <div class="rotate-schedule-updated d-none" data-slot-schedule-target="rotateScheduleUpdated">
          <i class="fa-solid fa-rotate"></i>
          <p class="round-square-grey me-2 text-center">
            <i class="fa-solid fa-calendar me-2"></i>
            <span data-slot-schedule-target="displayStartTime"><%= l(@booking.start_time, format: '%A %d %B %Hh%M').capitalize %></span>
            -
            <span data-slot-schedule-target="displayEndTime"><%= l(@booking.end_time, format: '%Hh%M') %></span>
          </p>
          <%= f.submit "Modifier", class: 'btn-basic-bleu-large-onboard my-3 w-100 submit-button', style: "display: none;", data: { slot_schedule_target: "submit" } %>
        </div>
       <% end %>

      <% total_days = 0 %>
      <% @full_datetimes.each_with_index do |weekly_datetimes, weekly_index| %>
        <% next if weekly_index == 1 && total_days >= 3 %>

        <% date = weekly_datetimes.first.first unless weekly_datetimes.empty? %>
        <% if weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week, Date.today.end_of_week)  %>
          <p><%= "Cette semaine" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 1.week, Date.today.end_of_week + 1.week) %>
          <p><%= "Semaine prochaine" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 2.week, Date.today.end_of_week + 2.week) %>
          <p><%= "Dans 2 semaines" %></p>
        <% elsif weekly_datetimes.count > 0 && date.between?(Date.today.beginning_of_week + 3.week, Date.today.end_of_week + 3.week) %>
          <p><%= "Dans 3 semaines" %></p>
        <% elsif date.present? %>
          <p><%= "#{l(date.beginning_of_week, format: '%-d %b')} au #{l(date.end_of_week, format: '%-d %b')}" %></p>
        <% end %>
        <% weekly_datetimes.each_with_index do |daily_datetimes, daily_index| %>
          <% pattern = "%H:%M"  %>
          <% unless daily_datetimes.nil? %>
            <div class="daily-dispo-card-user mb-3">
              <p class="date-text"><%= l(daily_datetimes.first, format: "%A %e %B").capitalize %></p>
              <div class="available-block">
                <div class="dispo-slots">
                  <% daily_datetimes.each do |datetime| %>
                    <% if datetime > Time.zone.now %>
                      <div class="dispo-slot-container" id="dispo-slot-container-<%= daily_index %>-<%= datetime.to_i %>">
                        <div data-action="click->slot-schedule#select" data-slot-schedule-target="slot" data-start-time="<%= datetime.strftime(pattern) %>" data-end-time="<%= (datetime + @booking.formule.duration.minutes).strftime(pattern) %>" class="disponibilites-btn schedule-style">
                          <%= datetime.strftime(pattern) %>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                </div>
              </div>
            </div>
            <% total_days += 1 if weekly_index == 0 %>
          <% end %>
        <% end %>
      <% end %>
    </div>



  </div>


</div>
