<div class="container">

  <div class="mx-3 d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Mes réservations</h2>
    <%= link_to new_booking_path, class: "text-decoration-none" do %>
      <div class="ajouter-client-btn d-flex align-items-center">
        <p>Ajouter</p>
        <i class="fa-solid fa-plus"></i>
      </div>
    <% end %>
    </div>

    <div class="reservation-block mx-3 mt-3">
      <ul class="nav nav-pills mb-3 d-flex justify-content-center align-items-center" id="pills-tab" role="tablist">
        <li class="nav-item me-1" role="presentation">
          <button class="nav-link" id="pills-attente-tab" data-bs-toggle="pill" data-bs-target="#pills-attente" type="button" role="tab" aria-controls="pills-attente" aria-selected="true">En attente</button>
        </li>
        <li class="nav-item me-1" role="presentation">
          <button class="nav-link active" id="pills-future-tab" data-bs-toggle="pill" data-bs-target="#pills-future" type="button" role="tab" aria-controls="pills-future" aria-selected="true">Futures</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-passe-tab" data-bs-toggle="pill" data-bs-target="#pills-passe" type="button" role="tab" aria-controls="pills-passe" aria-selected="false">Passées</button>
        </li>
      </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-future" role="tabpanel" aria-labelledby="pills-future-tab">
        <% unless @today_bookings.empty? %>
          <em>Aujourd'hui</em>
          <% @today_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @tomorrow_bookings.empty? %>
          <em>Demain</em>
          <% @tomorrow_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @this_week_bookings.empty? %>
          <em>Cette semaine</em>
          <% @this_week_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_week_bookings.empty? %>
          <em>Semaine prochaine</em>
          <% @next_week_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_month_bookings.empty? %>
          <em>Prochainement</em>
          <% @next_month_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>
      </div>

      <div class="tab-pane fade show" id="pills-attente" role="tabpanel" aria-labelledby="pills-attente-tab">
        <% unless @today_pending_bookings.empty? %>
          <em>Aujourd'hui</em>
          <% @today_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @tomorrow_pending_bookings.empty? %>
          <em>Demain</em>
          <% @tomorrow_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @this_week_pending_bookings.empty? %>
          <em>Cette semaine</em>
          <% @this_week_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_week_pending_bookings.empty? %>
          <em>Semaine prochaine</em>
          <% @next_week_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_month_pending_bookings.empty? %>
          <em>Ce mois-ci</em>
          <% @next_month_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>
      </div>

      <div class="tab-pane fade" id="pills-passe" role="tabpanel" aria-labelledby="pills-passe-tab">
        <% @passed_bookings.each do |booking| %>
          <%= render partial: 'cards_passed', locals: { booking: booking } %>
        <% end %>
      </div>

    </div>
  </div>
</div>
