<div class="container wrapper">

  <div class="mx-3 d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Mes réservations</h4>
    <%= link_to new_booking_path, class: "text-decoration-none" do %>
      <div class="ajouter-client-btn d-flex align-items-center">
        <p>Ajouter</p>
        <i class="fa-solid fa-plus"></i>
      </div>
    <% end %>
  </div>

  <div class="reservation-block mx-3 mt-3" data-controller="reservation">
    <ul class="nav nav-pills mb-3 d-flex justify-content-center align-items-center">
      <li class="nav-item me-1">
        <button class="btn-reservation" data-action="click->reservation#selectReservation" id="reservation-attente" data-reservation-target="buttonAttente" data-block="attente">En attente</button>
      </li>
      <li class="nav-item me-1">
        <button class="btn-reservation active" data-action="click->reservation#selectReservation" id="reservation-future" data-reservation-target="buttonFuture" data-block="future">Futures</button>
      </li>
      <li class="nav-item">
        <button class="btn-reservation" data-action="click->reservation#selectReservation" id="reservation-passe" data-reservation-target="buttonPasse" data-block="passe">Passées</button>
      </li>
    </ul>

      <div class="reservation-future" data-reservation-target="future" style="display: block;">
        <% unless @today_bookings.empty? %>
          <em>Aujourd'hui</em>
          <% @today_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @tomorrow_bookings.empty? %>
          <em>Demain</em>
          <% @tomorrow_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @this_week_bookings.empty? %>
          <em>Cette semaine</em>
          <% @this_week_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_week_bookings.empty? %>
          <em>Semaine prochaine</em>
          <% @next_week_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_bookings.empty? %>
          <em>Prochainement</em>
          <% @next_bookings.each do |booking| %>
            <%= render partial: 'cards', locals: { booking: booking } %>
          <% end %>
        <%end%>
      </div>

      <div class="reservation-en-attente" data-reservation-target="attente" style="display: none;">
        <% unless @today_pending_bookings.empty? %>
          <em>Aujourd'hui</em>
          <% @today_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @tomorrow_pending_bookings.empty? %>
          <em>Demain</em>
          <% @tomorrow_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @this_week_pending_bookings.empty? %>
          <em>Cette semaine</em>
          <% @this_week_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_week_pending_bookings.empty? %>
          <em>Semaine prochaine</em>
          <% @next_week_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>

        <% unless @next_month_pending_bookings.empty? %>
          <em>Prochainement</em>
          <% @next_month_pending_bookings.each do |booking| %>
            <%= render partial: 'cards_pending', locals: { booking: booking } %>
          <% end %>
        <%end%>
      </div>

      <div class="reservation-en-passe" data-reservation-target="passe" style="display: none;">
        <% @passed_bookings.each do |booking| %>
          <%= render partial: 'cards_passed', locals: { booking: booking } %>
        <% end %>
      </div>

    </div>
  </div>
</div>
