<div class="container wrapper">
  <% if current_user %>
    <div class="px-3 d-flex align-items-center">
      <%= link_to root_path, class: "text-decoration-none" do %>
        <div class="back-btn me-3">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end %>
    </div>
    <div data-controller="copy-to-clipboard share-link">
      <div class="copy-text d-flex justify-content-center mb-3">
        <span class="text" data-text="<%=reservation_link(current_user.token) %>" data-copy-to-clipboard-target="input"></span>
        <button class="btn-gris-rond" data-action="click->share-link#slideOptions">Partager lien<i class="fa-solid fa-link ms-2"></i></button>

    <!-- Button trigger modal -->

        <a href="#" data-bs-toggle="modal" data-bs-target="#landing-qrcode" class="btn-gris-rond ms-3">
          <i class="fa-solid fa-qrcode"></i>
        </a>

      </div>

    <div data-share-link-target="options" class="d-none mx-2 d-flex flex-column justify-content-center slide-box">
      <div class="d-flex align-items-center justify-content-evenly">
      <!-- Copy link to clipboard -->
        <div data-share-link-target="copyBtn" class="d-flex flex-column align-items-center justify-content-center link-card ">
          <span class="text" data-text="<%=reservation_link(current_user.token) %>" data-copy-to-clipboard-target="input"></span>
          <i class="fa-solid fa-link" data-action="click->copy-to-clipboard#copyText"></i>
        </div>

        <!-- Share link via email -->
        <a href="mailto:?subject=Lien%20de%20r%C3%A9servation&amp;body=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center mail-card" target="_blank">
          <i class="fa-regular fa-envelope"></i>
        </a>

        <!-- Share link via Messenger -->
        <a href="fb-messenger://share?link=<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center messenger-card" target="_blank">
          <i class="fa-brands fa-facebook-messenger"></i>
        </a>

        <!-- Share link on Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" class="d-flex flex-column align-items-center justify-content-center facebook-card" target="_blank">
          <i class="fa-brands fa-facebook-f"></i>
        </a>

        <!-- Share link on Twitter -->
        <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&amp;text=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center twitter-card" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>

        <!-- Share link on Instagram -->
        <a href="https://www.instagram.com/?url=<%= request.original_url %>&amp;media=&amp;description=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center instagram-card" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>

      </div>

      <div class="d-flex justify-content-center align-items-center">
        <em class="disclaimer-copy" data-copy-to-clipboard-target="disclaimer">Lien copié dans presse-papier</em>
      </div>

    </div>

    </div>


    <!-- Modal -->
        <div class="modal fade" id="landing-qrcode" tabindex="-1" aria-labelledby="landing-qrcode" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header d-flex justify-content-between">
                <h4 class="scan">Scanne le QRCode pour partager la page 📸 </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="margin: auto;">
               <%= image_tag(url_for(current_user.qrcode),  class: 'img-fluid') %>
              </div>
            </div>
          </div>
        </div>



  <% end %>
  <div class="mx-3">
    <div class="profile-picture d-flex justify-content-center pt-3 pb-3">
      <% if @user.profile_picture.attached? %>
        <%= cl_image_tag @user.profile_picture.key, crop: :fill, class: "avatar-profile" %>
      <% elsif @user.avatar_url.present? %>
        <%= image_tag @user.avatar_url, class: 'avatar-profile' %>
      <% else %>
        <%= image_tag "user.png", class: 'avatar-profile' %>
      <% end %>
    </div>
    <h4 class= "d-flex justify-content-center"><%= @user.full_name %></h4>
    <p class= "text-center"><%= @user.billing_city %></p>
    <p class="mt-4 mb-3 round-button-blue"><%= @user.title %></p>
    <p class= "p-2"><%= @user.description %></p>

    <!-- Image gallery -->
    <div class="image-gallery mb-5">
      <% @user.gallery_pictures.each do |image| %>
        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal-<%= image.id %>">
          <%= cl_image_tag(image.key, class: 'img-fluid square-image') %>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="imageModal-<%= image.id %>" tabindex="-1" aria-labelledby="imageModalLabel-<%= image.id %>" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= cl_image_tag(image.key, class: 'img-fluid') %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <p class= "p-2 text-center"><strong>Choisis ta formule 👇</strong></p>
    <form action="/choose_reservation/<%=@user.token%>" data-controller="formule" data-action="submit->formule#checkForm" method="get">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="formule-block">
        <% @formules.each do |formule| %>
          <div class="formule-card d-flex flex-column align-items-center justify-content-between">
            <button class="d-flex align-items-center justify-content-between" type="button" name="formule_id" value="<%= formule.id %>" data-action="click->formule#selectFormule" data-formule-target="formuleButton">
              <div class="d-flex flex-column align-items-start">
                <div class="d-flex align-items-center justify-content-start">
                  <h4><%= formule.name %></h4>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#descriptionModal-<%= formule.id %>">
                    <p><i class="fa-sharp fa-solid fa-circle-question ms-2 mb-1"></i></p>
                  </a>
                </div>
                <p><%= formule.duration %> minutes</p>
              </div>
                <p class="btn-disponibilites"><%= formule.price.to_i %> €</p>
            </button>
          </div>

          <div class="modal fade" id="descriptionModal-<%= formule.id %>" tabindex="-1" aria-labelledby="descriptionModalLabel-<%= formule.id %>" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4><%= formule.name %> :</h4>
                  <p><%= formule.description %></p>
                </div>
              </div>
            </div>
          </div>



        <% end %>
      </div>

      <p class="p-2 mt-3 text-center"><strong>As-tu déjà réservé une séance avec <%= @user.first_name %> ?</strong></p>
      <div class="d-flex align-items-center justify-content-center">
        <button type="button" name="booking_option" value="yes" class="booking-option-button me-2" data-action="click->formule#selectOption" data-formule-target="optionButtonOui">Oui</button>
        <button type="button" name="booking_option" value="no" class="booking-option-button ms-2" data-action="click->formule#selectOption" data-formule-target="optionButtonNon">Non</button>
      </div>

      <div class="option-buttons mb-4">
        <input type="hidden" name="formule_id" value="" data-formule-target="formuleIdInput">
        <input type="hidden" name="booking_option" value="" data-formule-target="optionInput">
      </div>
      <div class="d-flex justify-content-center">
        <input type="submit" value="Etape suivante" class="mt-4 btn-basic-bleu-large " data-formule-target="submitButton" disabled>
      </div>
    </form>



  </div>
</div>
