<div class="container wrapper">
  <% if current_user %>
    <div class="d-flex flex-column" data-controller="copy-to-clipboard share-link">
      <div class="px-3 d-flex align-items-center justify-content-between mb-3">
        <%= link_to root_path, class: "text-decoration-none" do %>
          <div class="back-btn me-3">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
        <% end %>

        <div class="copy-text">
          <span class="text" data-text="<%=reservation_link(current_user.token) %>" data-copy-to-clipboard-target="input"></span>
          <button class="btn-gris-rond" data-action="click->share-link#slideOptions">Partager lien<i class="fa-solid fa-link ms-2"></i></button>
        </div>

      <!-- Button trigger modal -->
        <div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#landing-qrcode" class="btn-gris-rond me-5 mt-1">
            <i class="fa-solid fa-qrcode"></i>
          </a>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="landing-qrcode" tabindex="-1" aria-labelledby="landing-qrcode" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body" style="margin: auto; display: flex; justify-content: center; flex-direction: column;">
                <%= image_tag(url_for(current_user.qrcode),  class: 'img-fluid') %>
                <p class="text-center px-3">Scanne ce QR Code pour accéder directement à ta page de réservation Chuck 💪</p>
                <a href="<%= url_for(current_user.qrcode) %>" download="QR_code" class="btn btn-primary mt-2">Télécharger mon QR Code</a>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div data-share-link-target="options" class="mx-2 d-flex flex-column justify-content-center slide-box">
        <div class="d-flex align-items-center justify-content-evenly">
        <!-- Copy link to clipboard -->
          <div data-share-link-target="copyBtn" class="d-flex flex-column align-items-center justify-content-center link-card ">
            <span class="text" data-text="<%=reservation_link(current_user.token) %>" data-copy-to-clipboard-target="input"></span>
            <i class="fa-solid fa-link" data-action="click->copy-to-clipboard#copyText"></i>
          </div>

          <!-- Share link via email -->
          <a href="mailto:?subject=Lien%20de%20r%C3%A9servation&amp;body=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center mail-card" target="_blank">
            <i class="fa-regular fa-envelope"></i>
          </a>

          <a href="https://wa.me/?text=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center whatsapp-card" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>

          <!-- Share link via Messenger -->
          <a href="fb-messenger://share?link=<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center messenger-card" target="_blank">
            <i class="fa-brands fa-facebook-messenger"></i>
          </a>

          <!-- Share link on Twitter -->
          <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&amp;text=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center twitter-card" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>

        </div>

        <div class="d-flex justify-content-center align-items-center">
          <em class="disclaimer-copy" data-copy-to-clipboard-target="disclaimer">Lien copié dans presse-papier</em>
        </div>

      </div>
    </div>
    <div class="d-flex justify-content-center">
      <p><i class="fa-solid fa-eye me-2"></i><%= pluralize(Ahoy::Event.where(name: "Viewed coach", properties: {coach_id: @user.id}).count, "vue") %> sur profil</p>
    </div>
    <%# Ahoy::Event.where(name: "Viewed coach", properties: {coach_id: @user.id}).select('DISTINCT visit_id').count %>



  <% end %>



  <div class="mx-3">
    <div class="profile-picture d-flex justify-content-center pt-3 pb-3">
      <% if @user.profile_picture.attached? %>
        <%= cl_image_tag @user.profile_picture.key, crop: :fill, class: "avatar-profile" %>
      <% elsif @user.avatar_url.present? %>
        <%= image_tag @user.avatar_url, class: 'avatar-profile' %>
      <% else %>
        <%= image_tag "user.png", class: 'avatar-profile' %>
      <% end %>
    </div>
    <h4 class= "d-flex justify-content-center"><%= @user.full_name %></h4>
    <%# <p class= "text-center"><%= @user.billing_city %>
    <%# <p class= "text-center mt-3 text-small"><em><%= @user.address %>
    <div class="w-100 d-flex justify-content-center">
      <p class="mt-3 mb-3 round-button-blue"><%= @user.title %></p>
    </div>
    <%# <% unless @tags.nil? %>
      <%# <div class="d-flex align-items-center justify-content-center flex-wrap my-3"> %>
        <%# <% @tags.each do | tag | %>
          <%# <p class="tag-card m-1" ><em>#<%= tag.name %>
        <%# <% end  %>
      <%# </div> %>
    <%# <% end %>
    <div class="d-flex justify-content-center mt-3 mb-5">
      <div class="description-card">
        <h6 class="text-start mb-2">A propos de moi 💬</h6>
        <p class= "p-2 text-justify mb-0"><%= @user.description %></p>
        <p class= "p-2 text-start mb-0"><strong> Adresse des prestations</strong>📍 <%= @user.address %></p>

      </div>
    </div>


    <div class="d-flex justify-content-center flex-column align-items-center">

        <!-- Image gallery -->

      <div class="image-gallery mb-5" data-controller="full-screen-gallery">
        <% @user.gallery_pictures.each_with_index do |image, index| %>
          <a href="#" data-action="click->full-screen-gallery#showImage" data-index="<%= index %>">
            <div class="image-wrapper image-container">
              <%= cl_image_tag(image.key, class: 'img-fluid square-image', data: { full_screen_gallery_target: 'galleryImage', src: cl_image_path(image.key, width: 800, height: 600, crop: :fill) }) %>
              <div class="spinner-wrapper spinner-small" data-full-screen-gallery-target="smallSpinner">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </a>
        <% end %>

        <!-- Full-screen gallery -->
        <div class="full-screen-gallery">
          <img src="" class="full-screen-gallery-image" data-full-screen-gallery-target="image">
          <div class="spinner-wrapper" data-full-screen-gallery-target="spinner">
            <div class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div data-full-screen-gallery-target="icons" class="d-none">
          <button class="full-screen-gallery-prev" data-action="click->full-screen-gallery#prevImage"><i class="fa-solid fa-chevron-left"></i></button>
          <button class="full-screen-gallery-next" data-action="click->full-screen-gallery#nextImage"><i class="fa-solid fa-chevron-right"></i></button>
          <button class="full-screen-gallery-close" data-action="click->full-screen-gallery#hideGallery"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>



    <p class= "p-2 text-start w-93"><strong>Réserve dès maintenant 👇</strong></p>
    <div class="d-flex justify-content-center flex-column align-items-center mb-4">

      <form action="/choose_reservation/<%=@user.token%>" data-controller="formule" method="get" class="w-100">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="formule-block">
            <% @formules.each do |formule| %>
              <div class="formule-card d-flex flex-column align-items-center justify-content-between">
                <button class="d-flex align-items-center justify-content-between" type="button" name="formule_id" value="<%= formule.id %>" data-action="click->formule#selectFormule" data-formule-target="formuleButton">
                  <div class="d-flex flex-column align-items-start">
                    <div class="d-flex align-items-center justify-content-start">
                      <h4><%= formule.name %></h4>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#descriptionModal-<%= formule.id %>">
                        <p><i class="fa-sharp fa-solid fa-circle-question ms-2 mb-1"></i></p>
                      </a>
                    </div>
                    <p><%= formule.duration %> minutes</p>
                  </div>
                    <p class="btn-disponibilites"><%= formule.price.to_i %> €</p>
                </button>
              </div>

              <div class="modal fade" id="descriptionModal-<%= formule.id %>" tabindex="-1" aria-labelledby="descriptionModalLabel-<%= formule.id %>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h4 class="mb-5"><%= formule.name %></h4>
                      <p><%= formule.description %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        </div>

        <div class="option-buttons mb-4">
          <input type="hidden" name="formule_id" value="" data-formule-target="formuleIdInput">
        </div>
        <div class="d-flex justify-content-center w-100">
          <input type="submit" value="Choisir un créneau" class="mt-4 btn-basic-bleu-large-onboard" data-formule-target="submitButton" disabled>
        </div>
      </form>

    </div>

    <%= link_to root_path, class: "mt-4 sponsor-btn" do %>
      <div class="d-flex justify-content-center" style="flex-wrap: nowrap;">
        <p>Créé avec</p>
        <%= image_tag "chuck__1_-removebg-preview-p-500.png", class: "" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center" style="flex-wrap: nowrap;">
      <div class="footer-copyr text-align-center text-vsmall">Copyright © 2023 ChuckApp</div>
    </div>




  </div>
</div>
