<div class="container wrapper">
  <div class="mt-4 px-3 pb-4 d-flex align-items-center">
    <%= link_to bookings_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
    <h5 class="m-0">Nouvelle réservation</h5>
  </div>

  <div class="mx-3">

    <p class= "p-2 text-center"><strong>Choisis ta formule 👇</strong></p>
    <form action="/new_choose_reservation" data-controller="formule" method="get" class="w-100">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="formule-block">
          <% @formules.each do |formule| %>
            <div class="formule-card d-flex flex-column align-items-center justify-content-between">
              <button class="d-flex align-items-center justify-content-between" type="button" name="formule_id" value="<%= formule.id %>" data-action="click->formule#selectFormule" data-formule-target="formuleButton">
                <div class="d-flex flex-column align-items-start">
                  <div class="d-flex align-items-center justify-content-start">
                    <h4><%= formule.name %></h4>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#descriptionModal-<%= formule.id %>">
                      <p><i class="fa-sharp fa-solid fa-circle-question ms-2 mb-1"></i></p>
                    </a>
                  </div>
                  <p><%= formule.duration %> minutes</p>
                </div>
                  <p class="btn-disponibilites"><%= formule.price.to_i %> €</p>
              </button>
            </div>

            <div class="modal fade" id="descriptionModal-<%= formule.id %>" tabindex="-1" aria-labelledby="descriptionModalLabel-<%= formule.id %>" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4 class="mb-5"><%= formule.name %></h4>
                    <p><%= formule.description %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>

      <div class="option-buttons mb-4">
        <input type="hidden" name="formule_id" value="" data-formule-target="formuleIdInput">
      </div>
      <div class="d-flex justify-content-center w-100">
        <input type="submit" value="Choisir un créneau" class="mt-4 btn-basic-bleu-large-onboard" data-formule-target="submitButton" disabled>
      </div>
    </form>

  </div>



</div>
