<div class="container">
  <div class="mx-3">
    <div class="profile-picture d-flex justify-content-center pt-3 pb-3">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-profile" %>
      <% elsif @user.avatar_url.present? %>
        <%= image_tag @user.avatar_url, class: 'avatar-profile' %>
      <% else %>
        <%= image_tag "user.png", class: 'avatar-profile' %>
      <% end %>
    </div>
    <h4 class= "d-flex justify-content-center"><%= @user.full_name %></h4>
    <p class= "text-center"><%= @user.billing_city %></p>
    <p class= "p-2"><%= @user.description %></p>

    <p class= "p-2">Choisis ta formule 👇</p>

    <div class="formule-block">
      <% @formules.each do |formule| %>
        <div class="formule-card d-flex flex-column align-items-center justify-content-between">
          <button type="button" name="booking_option" value="<%= formule.id %>">
            <h4><%= formule.name %></h4>
            <p><%= formule.duration %> minutes</p>
            <p><%= formule.price.to_i %> €</p>
        </div>
      <%end %>

    </div>
  </div>
</div>


<script>
  // Set the clicked button's value as the booking option
  const formuleButtons = document.querySelectorAll('.formule-card button');
  formuleButtons.forEach(button => {
    button.addEventListener('click', () => {
      const bookingOptionInput = document.querySelector('input[name="booking_option"]');
      bookingOptionInput.value = button.value;
    });
  });
</script>
