<div class="container wrapper">
  <div class="px-3 pb-4 d-flex align-items-center">
  <% if @previous_page == "bookings_path" %>
    <%= link_to bookings_path || bookings_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to root_path || bookings_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% end %>
    <h4 class="m-0"></h4>
  </div>


  <%= link_to client_path(@booking.client), class: "text-decoration-none" do %>
    <div class="card-horizontal-client">
      <div class="d-flex align-items-center">
        <% if @booking.client.photo.attached? %>
          <%= cl_image_tag @booking.client.photo.key, crop: :fill, class: "avatar-large" %>
        <% else %>
          <% initials = "#{@booking.client.first_name[0]}#{@booking.client.last_name[0]}" %>
          <% color_variations = ['circle-pink', 'circle-green', 'circle-red', 'circle-orange'] %>
          <% circle_class = color_variations[@booking.client.id % color_variations.size] %>
          <div class="avatar-large">
            <div class="<%= circle_class %>"><%= initials %></div>
          </div>
        <% end%>
        <div class="client-more-info ms-2">
          <h4 class="me-5"><%= @booking.client.full_name %></h4>
          <p>Réservations effectuées à date : <%= @client_data_hash[:bookings_count].to_i %></p>
          <p>Total dépensé : <%= @client_data_hash[:revenues].to_i %>€</p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center my-3">
    <p class="round-square-grey"><i class="fa-solid fa-calendar me-2"></i> <%= l(@booking.start_time, format: '%A %d %B %Hh%M').capitalize %> - <%= l(@booking.end_time, format: '%Hh%M') %></p>
  </div>

  <div class="formule-block">
    <div class="formule-card d-flex flex-column align-items-center justify-content-between">
      <button class="d-flex align-items-center justify-content-between" type="button" name="formule_id" value="<%= @booking.formule.id %>">
        <div class="d-flex flex-column align-items-start">
          <div class="d-flex align-items-center justify-content-start">
            <h4><%= @booking.formule.name %></h4>
            <a href="#" data-bs-toggle="modal" data-bs-target="#descriptionModal-<%= @booking.formule.id %>">
              <p><i class="fa-sharp fa-solid fa-circle-question ms-2 mb-1"></i></p>
            </a>
          </div>
          <p><%= @booking.formule.duration %> minutes</p>
        </div>
          <p class="btn-disponibilites"><%= @booking.formule.price.to_i %> €</p>
      </button>
    </div>
  </div>

  <div class="modal fade" id="descriptionModal-<%= @booking.formule.id %>" tabindex="-1" aria-labelledby="descriptionModalLabel-<%= @booking.formule.id %>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4><%= @booking.formule.name %> :</h4>
          <p><%= @booking.formule.description %></p>
        </div>
      </div>
    </div>
  </div>



  <% unless @booking.message.nil? %>
    <div class="mt-5 pb-3 message-card mx-3">
    <h4>Message du client</h4>
      <p><%= @booking.message %></p>
      <%= link_to "mailto:#{@booking.client.email}", class:"text-decoration-none" do %>
        <p>Répondre par email</p>
      <% end %>
    </div>
      <% end %>



  <p class="mt-3"><i class="fa-solid fa-location-pin me-2"></i>Lieu : <%= @booking.formule.address_line %></p>
  <div class="d-flex justify-content-center map-boxx">
    <div
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <% if @booking.status == "Pending" && @booking.start_time > Time.now %>
    <div class="d-flex justify-content-center align-items-center mt-4">
      <%= link_to confirm_booking_path(@booking), data: { "turbo-method": :put }, class:"me-3 btn-show-accept text-decoration-none" do %>
        <p>Accepter</p>
      <% end %>
      <%= link_to refuse_booking_path(@booking), data: { "turbo-method": :put }, onclick: "return confirm('Êtes vous sûr de vouloir refuser cette demande ?');", class:"btn-show-refuse ms-3 text-decoration-none" do %>
        <p>Refuser</p>
      <% end %>
    </div>
  <% elsif @booking.status == "Accepted"%>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to refuse_booking_path(@booking), data: { "turbo-method": :put }, onclick: "return confirm('Êtes vous sûr de vouloir annuler cette demande ?');", class:"text-decoration-none" do %>
        <p>Annuler cette réservation</p>
      <% end %>
    </div>
  <% end %>

</div>
