<div class="container wrapper">
  <div class="px-3 pb-4 d-flex align-items-center">
  <% if @previous_page == "bookings_path" %>
    <%= link_to bookings_path || bookings_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% elsif @previous_page == "contact" %>
    <%= link_to client_path(@booking.client) || bookings_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to root_path || bookings_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% end %>
    <h4 class="m-0"></h4>
  </div>


  <%= link_to client_path(@booking.client, ["booking_path", @booking.id]), class: "text-decoration-none" do %>
    <div class="card-horizontal-client">
      <div class="d-flex align-items-center">
        <% if @booking.client.photo.attached? %>
          <%= cl_image_tag @booking.client.photo.key, crop: :fill, class: "avatar-large" %>
        <% else %>
          <% initials = "#{@booking.client.first_name[0]}#{@booking.client.last_name[0]}" %>
          <% color_variations = ['circle-pink', 'circle-green', 'circle-red', 'circle-orange'] %>
          <% circle_class = color_variations[@booking.client.id % color_variations.size] %>
          <div class="avatar-large">
            <div class="<%= circle_class %>"><%= initials %></div>
          </div>
        <% end%>
        <div class="client-more-info ms-2">
          <h4 class="me-5"><%= @booking.client.full_name %></h4>
          <p>Réservations effectuées à date : <%= @client_data_hash[:bookings_count].to_i %></p>
          <p>Total dépensé : <%= @client_data_hash[:revenues].to_i %>€</p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center align-items-center my-3">
    <p class="round-square-grey me-2"><i class="fa-solid fa-calendar me-2"></i> <%= l(@booking.start_time, format: '%A %d %B %Hh%M').capitalize %> - <%= l(@booking.end_time, format: '%Hh%M') %></p>
    <% if @booking.status == "Accepted" && @booking.start_time > Time.now %>
    <!-- Button trigger modal -->
      <div class="mb-3 ms-3">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modif-booking-time" class="btn-gris-rond">
          <i class="fa-solid fa-pen"></i>
        </a>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modif-booking-time" tabindex="-1" aria-labelledby="modif-booking-time" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body" style="margin: auto; display: flex; justify-content: center; align-items: center; flex-direction: column;">

              <div class="mx-3 available">
                <h6 class="mb-4 text-center">Choisis un autre créneau 👇</h6>
                <p class="round-square-grey me-2 text-center"><i class="fa-solid fa-calendar me-2"></i> <%= l(@booking.start_time, format: '%A %d %B %Hh%M').capitalize %> - <%= l(@booking.end_time, format: '%Hh%M') %></p>
                <% pattern = "%H:%M"  %>

                <% @full_datetimes.each_with_index do |weekly_datetimes, weekly_index| %>
                  <% date = weekly_datetimes.first.first unless weekly_datetimes.empty? %>
                  <% if any_future_slots?(weekly_datetimes) && date.between?(Date.today.beginning_of_week, Date.today.end_of_week)  %>
                    <p><%= "Cette semaine" %></p>
                  <% elsif any_future_slots?(weekly_datetimes) && date.between?(Date.today.beginning_of_week + 1.week, Date.today.end_of_week + 1.week) %>
                    <p><%= "Semaine prochaine" %></p>
                  <% elsif any_future_slots?(weekly_datetimes) && date.between?(Date.today.beginning_of_week + 2.week, Date.today.end_of_week + 2.week) %>
                    <p><%= "Dans 2 semaines" %></p>
                  <% elsif any_future_slots?(weekly_datetimes) && date.between?(Date.today.beginning_of_week + 3.week, Date.today.end_of_week + 3.week) %>
                    <p><%= "Dans 3 semaines" %></p>
                  <% elsif any_future_slots?(weekly_datetimes) && date.present? %>
                    <p><%= "#{l(date.beginning_of_week, format: '%-d %b')} au #{l(date.end_of_week, format: '%-d %b')}" %></p>
                  <% end %>
                  <% weekly_datetimes.each_with_index do |daily_datetimes, daily_index| %>
                    <% daily_datetimes.select! { |datetime| datetime > Time.zone.now } %>
                    <% unless daily_datetimes.empty?  %>
                      <div class="daily-dispo-card mb-3">
                        <p class="date-text"><%= l(daily_datetimes.first, format: "%A %-d %B").capitalize %></p>
                        <div class="available-block">
                          <%array_size = daily_datetimes.size %>
                            <div class="dispo-slots">
                              <% daily_datetimes.each do |datetime| %>
                                <%= link_to datetime.strftime(pattern),
                                      finish_reservation_path(token: @user.token, datetime: datetime, formule: @formule),
                                      class: "disponibilites-btn my-1 mx-1" %>
                              <%end%>
                            </div>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
              </div>
              <%= form_for @booking, url: update_time_path(@booking), method: :patch do |f| %>
                <p class="mb-1"><strong>Début réservation</strong></p>
                <div class="form-group d-flex mb-3">
                  <%= f.datetime_select :start_time, {minute_step: 15}, class: 'form-control-modif' %>
                </div>

                <p class="mb-1"><strong>Fin réservation</strong></p>
                <div class="form-group d-flex mb-3">
                  <%= f.datetime_select :end_time, {minute_step: 15}, class: 'form-control-modif' %>
                </div>

                <div class="d-flex justify-content-center">
                  <%= f.submit "Modifier", class: 'btn-basic-bleu-large-onboard mt-3 w-100' %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h4 class="h6 mx-4">Détails de la réservation</h4>
  <div class="d-flex mt-2 mx-4 border-bottom pb-3">
    <div class="finish-details-card flex-column align-items-start justify-content-start">
      <p><i class="fa-solid fa-fire me-2"></i> <%= @booking.formule.name %></p>
      <p><i class="fa-solid fa-clock me-2"></i> <%= @booking.formule.duration %> minutes</p>
      <p class="btn-disponibilites"><i class="fa-solid fa-coins me-2"></i> <%= @booking.formule.price.to_i %> €</p>
    </div>
  </div>

  <% if @booking.status == "Pending" && @booking.start_time > Time.now %>
    <div class="d-flex justify-content-center align-items-center mt-4">
      <%= link_to confirm_booking_path(@booking), data: { "turbo-method": :put }, class:"me-3 btn-show-accept text-decoration-none" do %>
        <p>Accepter</p>
      <% end %>
      <%= link_to refuse_booking_path(@booking), data: { "turbo-method": :put }, onclick: "return confirm('Êtes vous sûr de vouloir refuser cette demande ?');", class:"btn-show-refuse ms-3 text-decoration-none" do %>
        <p>Refuser</p>
      <% end %>
    </div>
  <% end %>


  <% unless @booking.message.nil? %>
    <div class="mt-5 pb-3 mx-4">
    <h4 class="h6 mb-2">Message du client</h4>
      <p><em><%= @booking.message %></em></p>

      <%= render partial: 'shared/contacts', locals: { client: @booking.client } %>

    </div>
  <% end %>



  <p class="mt-3 mx-4"><i class="fa-solid fa-location-pin me-2"></i>Adresse : <%= @booking.formule.address_line %></p>
  <div class="d-flex justify-content-center map-boxx">
    <div
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <% if @booking.status == "Accepted"%>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to refuse_booking_path(@booking), data: { "turbo-method": :put }, onclick: "return confirm('Êtes vous sûr de vouloir annuler cette demande ?');", class:"text-decoration-none" do %>
        <p>Annuler cette réservation</p>
      <% end %>
    </div>
  <% end %>

</div>
