<div class="container wrapper">
  <div class="mx-3">

    <div class="d-flex justify-content-between align-items-center">
      <% if @previous_page == "dispo" %>
        <%= link_to disponibilites_path, class: "text-decoration-none" do %>
          <div class="back-btn mt-2 mb-5">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
        <% end %>
      <% else %>
        <%= link_to profile_path, class: "text-decoration-none" do %>
          <div class="back-btn mt-2 mb-5">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
        <% end %>
      <% end %>
      <p class="mt-2 mb-5 title-onboarding m-auto">Mes indisponibilités hebdomadaires</p>
    </div>

    <%= simple_form_for @user, url: update_indispo_users_path do |f| %>
      <div data-controller="slot-selector" class="d-flex align-items-center justify-content-between">
        <% @user.days_of_week.each do |day| %>
          <div class="day-column d-flex flex-column align-items-center justify-content-center flex-grow-1">
            <p class="text-center"><%= english_to_french_day(day) %></p>
            <% time_slots = generate_time_slots(@user.daily_start_time, @user.daily_end_time) %>
            <% time_slots.each_with_index do |time_slot, index| %>
              <div data-action="mousedown->slot-selector#startDrag mouseenter->slot-selector#continueDrag mouseup->slot-selector#stopDrag" data-slot-selector-target="slot" data-day="<%= day %>" data-start-time="<%= time_slot.strftime("%H:%M") %>" data-end-time="<%= (time_slot + 30.minutes).strftime("%H:%M") %>" class="time-slot-break">
                <%= time_slot.strftime("%H:%M") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= f.input :excluded_fixed_weekly_slots, as: :hidden, input_html: { id: "hidden_excluded_fixed_weekly_slots", value: @user.excluded_fixed_weekly_slots } %>
      <%= f.input :previous_page, as: :hidden, input_html: { value: @previous_page } %>


      <%= f.button :submit, "Mettre à jour", class: "btn-basic-bleu-large-onboard mt-5", value: "Valider" %>
    <% end %>

  </div>
</div>
