<% if user_signed_in? %>
    <div class="top-navbar d-flex justify-content-between align-items-center">
      <div class="logo">
        <%= link_to root_path, class: "home-logo" do %>
          <%= image_tag "SPORTEWS.png" %>
        <% end %>
      </div>
      <div class="d-flex align-items-center justify-content-between mt-1">
        <a href="#" class="notification-bell me-3"><i class="fa-solid fa-bell"></i></a>
        <%= link_to profile_path do %>
          <div class="profile-picture d-flex justify-content-center">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-small" %>
            <% elsif current_user.avatar_url.present? %>
              <%= image_tag current_user.avatar_url, class: 'avatar-small' %>
            <% else %>
              <%= image_tag "user.png", class: 'avatar-small' %>
            <% end %>
          </div>
        <%end%>
        <%# <a href="#" class="menu-bars"><i class="fa-solid fa-bars"></i></a> %>
      </div>
    </div>


    <div class="bottom-navbar d-flex justify-content-between align-items-center">
      <div class="nav-boutton-accueil d-flex flex-column align-items-center">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <p>Dashboard</p>
      </div>
      <div class="nav-boutton-client d-flex flex-column align-items-center">
        <a href="/clients"><i class="fa-solid fa-address-book"></i></a>
        <p>Contacts</p>
      </div>
      <div class="nav-boutton-bookings d-flex flex-column align-items-center">
        <a href="/bookings"><i class="fa-regular fa-calendar"></i></a>
        <p>Réservations</p>
      </div>
      <div class="nav-boutton-profil d-flex flex-column align-items-center">
        <a href="/disponibilites"><i class="fa-regular fa-calendar-check"></i></a>
        <p>Disponibilités</p>
      </div>
      <%# <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a> %>
    </div>

  <% else %>

    <% if current_page?(new_user_registration_path) %>
          <div class="navbar_signed_out">
            <div class="container d-flex justify-content-between">
              <div class="logo">
                <%= link_to root_path, class: "home-logo" do %>
                  <%= image_tag "SPORTEWS.png" %>
                <% end %>
              </div>

              <div class="bouttons-nav-loggout d-flex align-items-center justify-content-center">
                <div class="me-1">
                  <%=link_to "Se connecter", new_user_session_path, class: "btn-basic-bleu" %>
                </div>
              </div>
            </div>
          </div>
    <% elsif current_page?(new_user_session_path) %>

          <div class="navbar_signed_out">
            <div class="container d-flex justify-content-between">
              <div class="logo">
                <%= link_to root_path, class: "home-logo" do %>
                  <%= image_tag "SPORTEWS.png" %>
                <% end %>
              </div>

              <div class="bouttons-nav-loggout d-flex align-items-center justify-content-center">
                <div class="ms-1">
                  <%=link_to "S'inscrire", new_user_registration_path, class: "btn-basic-bleu" %>
                </div>
              </div>
            </div>
          </div>

    <% else %>

          <div class="navbar_signed_out">
            <div class="container d-flex justify-content-between">
              <div class="logo">
                <%= link_to root_path, class: "home-logo" do %>
                  <%= image_tag "SPORTEWS.png" %>
                <% end %>
              </div>

              <div class="bouttons-nav-loggout d-flex align-items-center justify-content-center">
                <div class="me-1">
                  <%=link_to "Se connecter", new_user_session_path, class: "btn-mini" %>
                </div>
                <div class="ms-1">
                  <%=link_to "S'inscrire", new_user_registration_path, class: "btn-basic-bleu" %>
                </div>
              </div>
            </div>
          </div>

    <% end %>
  <% end %>
