<% if user_signed_in? %>
  <div class="top-navbar-background" data-controller="scroll-nav" data-scroll-nav-target="navbar">
    <nav id="top-navbar" class="d-flex justify-content-between align-items-center">

      <div class="logo logo-btn">
        <%= link_to root_path, class: "logo-landing" do %>
          <%= image_tag "chuck__1_-removebg-preview.png", class: "mt-1" %>
        <% end %>
      </div>

      <div class="d-flex align-items-center justify-content-between ">
        <div>
          <%= link_to reservation_link(current_user.token), class: "btn-share-link" do %>
            <i class="fa-solid fa-link"></i>
          <% end %>
        </div>
        <%= link_to profile_path do %>
          <div class="profile-picture d-flex justify-content-center">
            <% if current_user.profile_picture.attached? %>
              <%= cl_image_tag current_user.profile_picture.key, crop: :fill, class: "avatar-small profile-btn" %>
            <% elsif current_user.avatar_url.present? %>
              <%= image_tag current_user.avatar_url, class: 'avatar-small profile-btn' %>
            <% else %>
              <%= image_tag "user.png", class: 'avatar-small profile-btn' %>
            <% end %>
          </div>
        <%end%>
      </div>

    </nav>
  </div>

  <%= render "shared/navigation", locals: { pending_booking: @pending_booking } %>

  <% end %>
