<% if user_signed_in? %>
  <div class="top-navbar-background">
    <nav id="top-navbar" class="d-flex justify-content-between align-items-center">

      <div class="logo">
        <%= link_to root_path, class: "home-logo" do %>
          <%= image_tag "chuck.png", class: "mt-2" %>
        <% end %>
      </div>

      <div class="d-flex align-items-center justify-content-between ">
        <a href="#" class="notification-bell me-3"><i class="fa-solid fa-bell" data-controller="bottom"></i></a>
        <div>
          <%= link_to reservation_link(current_user.token), class: "btn-share-link" do %>
            <i class="fa-solid fa-link"></i>
          <% end %>
        </div>
        <%= link_to profile_path do %>
          <div class="profile-picture d-flex justify-content-center">
            <% if current_user.profile_picture.attached? %>
              <%= cl_image_tag current_user.profile_picture.key, crop: :fill, class: "avatar-small" %>
            <% elsif current_user.avatar_url.present? %>
              <%= image_tag current_user.avatar_url, class: 'avatar-small' %>
            <% else %>
              <%= image_tag "user.png", class: 'avatar-small' %>
            <% end %>
          </div>
        <%end%>
      </div>

    </nav>
  </div>

    <div class="bottom-navbar-background">
      <nav id="bottom-navbar-custom" class="d-flex justify-content-between align-items-center" data-controller="bottom">
        <div class="nav-item-bottom d-flex flex-column align-items-center" data-bottom-target="navItem">
          <a href="/" class=""><i class="fa-solid fa-house"></i></a>
          <p>Dashboard</p>
        </div>

        <div class="nav-item-bottom d-flex flex-column align-items-center" data-bottom-target="navItem">
          <a href="/clients" class=""><i class="fa-solid fa-address-book"></i></a>
          <p>Contacts</p>
        </div>

        <div class="nav-item-bottom d-flex flex-column align-items-center" data-bottom-target="navItem">
          <a href="/bookings" class=""><i class="fa-regular fa-calendar"></i></a>
          <p>Réservations</p>
        </div>

        <div class="nav-item-bottom d-flex flex-column align-items-center" data-bottom-target="navItem">
          <a href="/disponibilites" class=""><i class="fa-regular fa-calendar-check"></i></a>
          <p>Disponibilités</p>
        </div>
      </nav>
    </div>

  <% else %>

    <% if current_page?(new_user_registration_path) %>
          <div class="navbar_signed_out">
            <div class="container d-flex justify-content-between">
              <div class="logo">
                <%= link_to root_path, class: "home-logo" do %>
                  <%= image_tag "chuck.png", class: "mt-2" %>
                <% end %>
              </div>

              <div class="bouttons-nav-loggout d-flex align-items-center justify-content-center">
                <div class="me-1">
                  <%=link_to "Se connecter", new_user_session_path, class: "btn-basic-bleu" %>
                </div>
              </div>
            </div>
          </div>
    <% elsif current_page?(new_user_session_path) %>

          <div class="navbar_signed_out">
            <div class="container d-flex justify-content-between">
              <div class="logo">
                <%= link_to root_path, class: "home-logo" do %>
                  <%= image_tag "chuck.png", class: "mt-2" %>
                <% end %>
              </div>

              <div class="bouttons-nav-loggout d-flex align-items-center justify-content-center">
                <div class="ms-1">
                  <%=link_to "S'inscrire", new_user_registration_path, class: "btn-basic-bleu" %>
                </div>
              </div>
            </div>
          </div>

    <% else %>

          <div class="navbar_signed_out">
            <div class="container d-flex justify-content-between">
              <div class="logo">
                <%= link_to root_path, class: "home-logo" do %>
                  <%= image_tag "chuck.png", class: "mt-2" %>
                <% end %>
              </div>

              <div class="bouttons-nav-loggout d-flex align-items-center justify-content-center">
                <div class="me-1">
                  <%=link_to "Se connecter", new_user_session_path, class: "btn-mini" %>
                </div>
                <div class="ms-1">
                  <%=link_to "S'inscrire", new_user_registration_path, class: "btn-basic-bleu" %>
                </div>
              </div>
            </div>
          </div>

    <% end %>
  <% end %>
