  <div class="container">
    <div class="mx-3 d-flex justify-content-between align-items-center">
      <h2 class="mb-0">Mes clients</h2>
      <%= link_to new_client_path, class: "text-decoration-none" do %>
        <div class="ajouter-client-btn d-flex align-items-center">
          <p>Ajouter</p>
          <i class="fa-solid fa-plus"></i>
        </div>
      <% end %>
    </div>
    <% @clients.each do |client| %>
        <%= link_to client_path(client), class: "d-flex align-items-center card-horizontal-client justify-content-between" do %>
            <div class="d-flex">
              <% if client.photo.attached? %>
                <%= cl_image_tag client.photo.key, crop: :fill, class: "avatar-large" %>
              <% else %>
                <%= image_tag "user.png", class: 'avatar-large' %>
               <% end%>
              <div class="card-client-horizontal-text d-flex flex-column justify-content-center">
                <h4 class="card-fullname"> <%= client.full_name %></h4>
                <p class="card-location"> <%= client.billing_city %></p>
              </div>
            </div>
            <div class="phone-message-card-horizontal">
              <i class="fa-solid fa-phone"></i>
              <i class="fa-solid fa-envelope"></i>
            </div>
            <% end %>
        <% end %>
    <% if @clients.empty? %>
      <h4 class= "ms-3">Aucun client enregistré.</h4>
    <% end %>




  </div>

</div>
