<div class="container wrapper">
  <div class="px-3 pb-4 d-flex align-items-center">
    <%= link_to clients_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
    <h2 class="m-0">Nouveau client</h2>
  </div>

  <div class="form-new-client mx-3">
    <%= simple_form_for(@client) do |f| %>
      <%= f.input :first_name,
                  label: false,
                  input_html: { autocomplete: "prénom", placeholder: "Prénom" } %>
      <%= f.input :last_name,
                  label: false,
                  input_html: { autocomplete: "nom", placeholder: "Nom" } %>
      <%= f.input :email,
                  label: false,
                  input_html: { autocomplete: "email", placeholder: "Adresse email" } %>
      <%= f.input :phone_number,
                  label: false,
                  input_html: { autocomplete: "numéro", placeholder: "Numéro de téléphone" } %>
      <p>Photo de profil (facultatif)</p>
      <%= f.input :photo, as: :file, input_html: { class: "form-box" }, label: false %>
      <%= f.submit 'Ajouter', class: "btn-basic-bleu-large", value: "Ajouter" %>
    <% end %>
  </div>

</div>
