<div class="container wrapper">
  <div class="px-3 pb-4 d-flex align-items-center">
  <% if @previous_page == "clients_path" %>
    <%= link_to clients_path || clients_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to root_path || clients_path, class: "text-decoration-none" do %>
      <div class="back-btn me-3">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  <% end %>
    <h4 class="m-0"></h4>
  </div>

  <div class="profile-picture d-flex justify-content-center pt-3 pb-3">
    <% if @client.photo.attached? %>
      <%= cl_image_tag @client.photo.key, crop: :fill, class: "avatar-profile" %>
    <% else %>
      <% initials = "#{@client.first_name[0]}#{@client.last_name[0]}" %>
      <% color_variations = ['circle-pink-big', 'circle-green-big', 'circle-red-big', 'circle-orange-big'] %>
      <% circle_class = color_variations[@client.id % color_variations.size] %>
      <div class="<%= circle_class %>"><%= initials %></div>
      <% end%>
    </div>
    <h4 class= "d-flex justify-content-center pb-3"><%= @client.full_name %></h4>

    <%= render partial: 'shared/contacts', locals: { client: @client } %>

    <div class="card-details-show-client">
      <h4 class="mb-3">Informations client</h4>
      <p><i class="mb-2 fa-solid fa-phone me-2"></i> <%= @client.phone_number %></p>
      <p><i class="fa-regular fa-envelope me-2"></i> <%= @client.email %></p>
    </div>

    <% unless @client.note.nil? %>
      <div class="card-details-show-client">
        <h4 class="mb-3">Notes</h4>
          <p><%= @client.note %></p>
      </div>
    <% end %>
    <div data-controller="share-link copy-to-clipboard">
      <div class="d-flex align-items-center justify-content-between mt-3">
        <p class="button-show-client" data-action="click->share-link#slideOptions"><i class="fa-solid fa-link me-2"></i>Partager lien</p>
        <p class="button-show-client">Ajouter une réservation</p>
      </div>
      <div data-share-link-target="options" class="d-none mx-2 d-flex align-items-center justify-content-between slide-box">
        <!-- Copy link to clipboard -->
        <div data-share-link-target="copyBtn" class="d-flex flex-column align-items-center justify-content-center link-card ">
          <span class="text" data-text="<%=reservation_link(current_user.token) %>" data-copy-to-clipboard-target="input"></span>
          <i class="fa-solid fa-link" data-action="click->copy-to-clipboard#copyText"></i>
        </div>

        <!-- Share link via WhatsApp -->
        <a href="https://wa.me/<%= @client.phone_number %>?text=Bonjour,%2C%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center whatsapp-card" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>


        <!-- Share link via email -->

        <a href="mailto:<%= @client.email %>?subject=Lien%20de%20r%C3%A9servation&amp;body=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center mail-card" target="_blank">
          <i class="fa-regular fa-envelope"></i>
        </a>

        <!-- Share link via text message -->
        <a href="sms:<%= @client.phone_number %>?body=Bonjour,%20voici%20mon%20lien%20de%20r%C3%A9servation%20:%20<%= reservation_link(current_user.token) %>" class="d-flex flex-column align-items-center justify-content-center sms-card ">
          <i class="fa-regular fa-message"></i>
        </a>

      </div>

      <div class="d-flex justify-content-center align-items-center">
        <em class="disclaimer-copy" data-copy-to-clipboard-target="disclaimer">Lien copié dans presse-papier</em>
      </div>
    </div>


</div>
