<h5>Bonjour <%= @user.first_name %>,</h5>
<p>Vous avez refusé la demande de réservation suivante :</p>
<p>Informations sur la réservation :</p>
<p>Date : <%= l(@booking.start_time, format: "%A, %e %B %Y") %></p>
<p>Heure : <%= @booking.start_time.strftime("%Hh%M") %> à <%= @booking.end_time.strftime("%Hh%M") %></p>
<p>Formule : <%= @booking.formule.name %></p>
<p>Prix : <%= number_to_currency(@booking.formule.price, unit: '€') %></p>
<p>Durée : <%= @booking.formule.duration %> minutes</p>
<p>Adresse : <%= @booking.formule.address_line %>, <%= @booking.formule.address_city %></p>
<p>Client : <%= @client.full_name %></p>
<p>Veuillez réessayer ultérieurement ou nous contacter pour plus d'informations.</p>
