<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar(events: events) do |date, bookings| %>
    <div class="nav-item dropdown">
      <div class="day dropdown-toggle" id="dropdownMenuCalendar" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div><%= date.day %></div>
        <% if bookings.length == 1 %>
          <span class="dot-small"></span>
        <% elsif bookings.length > 1 && bookings.length <= 3  %>
          <span class="dot-medium"></span>
        <% elsif bookings.length >= 4  %>
          <span class="dot-big"></span>
        <% else %>
        <% end %>
      </div>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuCalendar">
        <div class="modal-block-calendar">
          <%= link_to new_booking_path, class: 'dropdown-item date-btn' do %>
            <p><%= l(date, format: '%a %e %B') %></p>
            <p class="reservations">Résa. du jour</p>
          <% end  %>
          <% bookings.each do |booking| %>
            <div class="card-header">
              <%= link_to booking_path(booking, previous_page: "root_path"), class: "dropdown-item" do %>
                <% initials = "#{booking.client.first_name[0]}#{booking.client.last_name[0]}" %>
                <% color_variations = ['circle-pink-tiny', 'circle-green-tiny', 'circle-red-tiny', 'circle-orange-tiny'] %>
                <% circle_class = color_variations[booking.client.id % color_variations.size] %>
                <div class="btn-time-slot-calendar d-flex justify-content-between">
                  <p class="mb-0"><%= booking.start_time.strftime('%H:%M') %> à <%= booking.end_time.strftime('%H:%M') %></p>
                  <p class="mb-0 <%= circle_class %>"><%= initials %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= link_to date_new_reservation_path(jour: date), class: 'dropdown-item ajouter-btn' do %>
            <p><i class="fa-solid fa-plus"></i> Ajouter une résa </p>
          <% end  %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
