<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar(events: events) do |date, bookings| %>
    <div class="nav-item dropdown">
      <div class="day dropdown-toggle" id="dropdownMenuCalendar" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= date.day %>
        <% if bookings.length == 1 %>
          <span class="dot-small"></span>
        <% elsif bookings.length > 1 && bookings.length <= 3  %>
          <span class="dot-medium"></span>
        <% elsif bookings.length >= 4  %>
          <span class="dot-big"></span>
        <% else %>
        <% end %>
      </div>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuCalendar">
        <div class="modal-block-calendar">
          <%= link_to new_booking_path, class: 'dropdown-item date-btn' do %>
            <p><%= l(date, format: '%a %e %B') %></p>
          <% end  %>
          <% bookings.each do |booking| %>
            <div class="card-header">
             <%= link_to booking_path(booking), class: "dropdown-item" do %>
                <p class="btn-time-slot-calendar"><%= booking.start_time.strftime('%H:%M') %> à <%= booking.end_time.strftime('%H:%M') %></p>
             <% end  %>
            </div>
          <% end %>
          <%= link_to new_booking_path, class: 'dropdown-item ajouter-btn' do %>
            <p><i class="fa-solid fa-plus"></i> Ajouter une résa </p>
          <% end  %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
