<div class="container">
  <div class="mx-3">
    <h4 class="my-3">Tableau de Bord</h4>
    <div class="revenue-block mb-5"  data-controller="revenu">
      <p class="my-4 round-button-grey"><%= l(Date.today, format: '%A %e %B').capitalize %></p>
      <em class="mb-3">Revenus mensuels 💸</em>
      <div class="d-flex align-items-center justify-content-between my-3">

        <div class="revenue-card" data-action="click->revenu#collapse">
          <p class="first-line">A date <em>au <%= l(Date.today, format: '%e %B') %></em></p>
          <div class="d-flex align-items-center justify-content-start">
            <i class="fa-sharp fa-solid fa-coins me-2"></i>
            <h4> <%= @passed_month_revenues.to_i %> € </h4>
          </div>
        </div>

        <div class="revenue-card-projeté" data-action="click->revenu#collapse">
          <p class="first-line">Totaux au <em><%= l(Date.today.end_of_month, format: '%e %B') %></em></p>
          <div class="d-flex align-items-center justify-content-start">
            <i class="fa-sharp fa-solid fa-coins me-2"></i>
            <h4> <%= @projected_month_revenues.to_i %> € </h4>
          </div>
        </div>
      </div>


      <div class="date-details-revenu-card" data-revenu-target="content">
        <% @user_bookings_passed.each do |booking| %>
          <p class="first-block-details"><%=l(booking.start_time, format: '%d/%m') %> - <%= booking.price.to_i %>€ - <%= booking.client.full_name%></p>
        <%end%>
      <% @user_bookings_rest.each do |booking| %>
          <p class="second-block-details"><%=l(booking.start_time, format: '%d/%m') %> - <%= booking.price.to_i %>€ - <%= booking.client.full_name%></p>
        <%end%>
      </div>

      <p class="réservations-ligne"><%=@user_bookings_number%> réservations effectuées, <%=@user_bookings_number_proj%> à venir</p>
    </div>

      <div class="calendar my-5" id="events_calendar">
        <%= render partial: 'calendar', locals: { events: @calendar_bookings }  %>
      </div>


    <% unless @client_rankings.empty? %>
      <div class="client-block mb-4">
        <em class="mb-3">Client du mois 👑</em>
          <div class="d-flex align-items-center card-horizontal-client justify-content-between">
            <div class="d-flex">
              <% if @client_rankings.first[0].photo.attached? %>
                <%= cl_image_tag @client_rankings.first[0].photo.key, crop: :fill, class: "avatar-large", format: "png" %>
              <% else %>
                <%= image_tag "user.png", class: 'avatar-large' %>
                <% end%>
              <div class="card-client-horizontal-text d-flex flex-column justify-content-center">
                <h4 class="card-fullname"> <%= @client_rankings.first[0].full_name %></h4>
                <p> <%= @client_rankings.first[1].to_i %> € dépensés</p>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <% unless @upcoming_bookings.empty? %>
      <div class="bookings-block">
        <em class="mb-3">Tes prochaines réservations 👇</em>
          <% @upcoming_bookings.take(3).each do |booking| %>
            <%= render partial: 'bookings/cards', locals: { booking: booking } %>
          <% end %>
      </div>
    <% end %>

  </div>
</div>
