<div class="navbar-landing d-flex justify-content-center" data-controller="scroll-nav" data-scroll-nav-target="navbar">
  <div class="container-landing-nav d-flex align-items-center justify-content-between w-80">
    <%= link_to root_path, class: "logo-landing" do %>
      <%= image_tag "chuck__1_-removebg-preview.png", class: "mt-1" %>
    <% end %>
    <%=link_to "Se connecter", new_user_session_path, class: "btn-minimal" %>
  </div>
  </div>
</div>

<div class="gradient-section-1" div data-controller="image-appear">
  <div class="circle-1-gradient"></div>
  <div class="circle-2-gradient"></div>
  <div class="container-landing">
    <div class="hero-section">
      <div class="hero-text hidden" data-image-appear-target="text">
        <h1 class="hero-heading mb-5">Crée ton <span class="gradient-webflow">site</span> et <span class="gradient-webflow">gère</span> ton activité <span class="gradient-webflow">simplement</span> ! </h1>
        <div class="hero-text-block mb-5">Un site web <strong><em>à ton image</em></strong> généré <strong><em>en 2 minutes</em></strong> : gestion de ton <strong><em>agenda</em></strong>, gestion de tes <strong><em>réservations</em></strong>, <strong><em>paiement</em></strong> en ligne et <strong><em>avis</em></strong> <strong><em>clients</em></strong> ...</div>
        <%=link_to "S'inscrire", new_user_registration_path, class: "btn-basic-bleu mb-5" %>
      </div>
      <div class="hero-image d-flex align-items-center justify-content-center hidden" data-image-appear-target="image">
        <%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683666676/Add_a_heading_1181_1181_px_2_zkxyu6.png", loading:"lazy", crop: :fill %>
      </div>
    </div>
  </div>
</div>

<div class="container-landing">
  <div class="benef-section-landing" data-controller="scroll-to-element-up">
    <%# <div class="benef-landing hidden-up"><%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683624695/Megaphone_grqaix.png", loading:"lazy" %>
    <div class="benef-landing hidden-up"><%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683719364/Add_a_heading_1181_1181_px_700_700_px_1_z90gzv.png", loading:"lazy" %>
      <h3 class="heading-3-landing">Gagne en <span>visibilité</span></h3>
      <div class="text-bloc-landing">avec un site personnalisé et à ton image</div>
    </div>
    <%# <div class="benef-landing hidden-up"><%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683624695/phone_paxohy.png", loading:"lazy" %>
    <div class="benef-landing hidden-up"><%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683719364/Add_a_heading_1181_1181_px_700_700_px_2_a1woik.png", loading:"lazy" %>
      <h3 class="heading-3-landing">Simplifie tes réservations</h3>
      <div class="text-bloc-landing-2">demandes client en quelques clics </div>
    </div>
    <%# <div class="benef-landing hidden-up"><%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683624695/folder_clc637.png", loading:"lazy" %>
    <div class="benef-landing hidden-up"><%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683719364/Add_a_heading_1181_1181_px_700_700_px_gpvzox.png", loading:"lazy" %>
      <h3 class="heading-3-landing">Améliore ton organisation</h3>
      <div class="text-bloc-landing-3">suivi des prestations, calendrier dynamique </div>
    </div>
  </div>
</div>

<div class="gradient-section-2" data-controller="scroll-to-element">
  <div class="circle-3-gradient"></div>
  <div class="circle-4-gradient"></div>
  <div class="real-landing container-landing">

    <div class="real-landing-part hidden-bottom-left">
      <div class="landing-iphone-picture d-flex justify-content-center">
        <%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683666765/Add_a_heading_1181_1181_px_5_gaacw2.png", loading:"lazy", crop: :fill, style:"width: 95%; max-width: 350px; height: auto;" %>
      </div>
      <div class="div-landing-iphone-text">
        <h3 class="heading-3-landing mb-3">Partage ton <span class="gradient-webflow">lien</span> chuck sur tes <br><span class="gradient-webflow">réseaux sociaux ...</span></h3>
        <div class="text-bloc-landing">Sur ta page Instagram, Tiktok, ou par message fais connaitre ton site de réservation et booste ton agenda ! <br><br>Chuck te simplifie la vie et te permet de partager simplement ton lien.</div>
      </div>
    </div>

    <div class="real-landing-part hidden-bottom-right">
      <div class="div-landing-iphone-text">
        <h3 class="heading-3-landing mb-3">... et colle ton <br><span class="gradient-webflow">QR code</span> partout ! <span class="gradient-webflow"></span></h3>
        <div class="text-bloc-landing mb-3">Dans les salles de sports, sur des flyers ou dans la rue, fais toi connaitre partout.</div>
        <%=link_to "S'inscrire", new_user_registration_path, class: "btn-basic-bleu", style: "font-size: 0.8em;" %>
      </div>
      <div class="landing-iphone-picture d-flex justify-content-center">
        <%= cl_image_tag "https://res.cloudinary.com/dk8a13iyc/image/upload/v1683666677/Add_a_heading_1181_1181_px_4_dxxguw.png", loading:"lazy", crop: :fill, style:"width: 95%; max-width: 250px; height: auto; border-radius: 0.5em;" %>
      </div>
    </div>
  </div>

</div>

<div class="footer-landing d-flex align-items-center justify-content-center">
  <div class="container-landing-footer">
    <div class="landing-footer-links">
      <a href="#" class="footer-landing-link">Blog</a><br>
      <a href="/politique" class="footer-landing-link">Politique de confidentialité</a><br>
      <a href="/mentions" class="footer-landing-link">Mentions Légales</a><br>
      <a href="/conditions" class="footer-landing-link">Conditions générales</a><br>
    </div>
    <div class="footer-landing-social-block">
      <a href="#"><i class="fab fa-instagram link-style d-inline me-2"></i></a>
      <a href="#"><i class="fab fa-facebook link-style d-inline me-2"></i></a>
      <a href="#"><i class="fab fa-linkedin link-style d-inline"></i></a>
    </div>
  <div class="footer-copyr text-align-center">Copyright © 2023 ChuckApp</div>
  </div>
</div>
