<div class="container">

  <div class="mx-3 d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Mes disponibilités</h2>
  </div>


  <% pattern = "%H:%M"  %>

  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column mx-1" style="width: 15%;">
      <div><p class="text-center">12/12</p>
        <% time_slots[0..6].each_with_index do |slot, i| %>
          <%= simple_form_for @meeting do |f| %>
            <%= f.hidden_field :starting, value: DateTime.parse(slot) %>
            <%= f.hidden_field :ending, value: DateTime.parse(slot) + 1.hour %>
            <%= f.hidden_field :mentor_id, value: @mentor.id %>
            <%= f.hidden_field :status, value: "pending" %>
            <% if Meeting.all.where(starting: DateTime.parse(slot)).empty?  %>
              <%= f.submit DateTime.parse(slot).strftime(pattern), class: "btn btn-primary" %>
            <% else %>
              <%= f.submit DateTime.parse(slot).strftime(pattern), class: "btn btn-primary disabled" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


</div>
