<div class="container wrapper">
  <div class="mx-3 d-flex justify-content-center flex-column align-items-center" data-controller="full-screen-gallery add-gallery-pictures add-profile-picture">

    <div data-add-profile-picture-target="loader" data-add-gallery-pictures-target="loader" class="d-none big-spinner" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 500;">
      <div class="spinner-grow text-primary my-4" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="mx-4 text-center">Prise en compte de tes <strong>magnifiques photos</strong> pour ta <strong>page Chuck</strong> 🛠</p>
    </div>

    <div class="profile-picture d-flex justify-content-center pt-3 pb-3 position-relative">
      <% if current_user.profile_picture.attached? %>
        <%= cl_image_tag current_user.profile_picture.key, crop: :fill, class: "avatar-profile" %>
      <% elsif current_user.avatar_url.present? %>
        <%= image_tag current_user.avatar_url, class: 'avatar-profile' %>
      <% else %>
        <%= image_tag "user.png", class: 'avatar-profile' %>
      <% end %>
      <div class="change-button" data-action="click->add-profile-picture#addImages">
        <i class="fa-solid fa-pencil"></i>
      </div>
    </div>

    <%= form_with url: update_profile_picture_users_path(user_id: current_user.id), method: :post, local: true, html: { multipart: true, data: { add_profile_picture_target: "formProfile" } } do |form| %>
      <%= form.file_field :profile_picture, hidden: true, data: { add_profile_picture_target: "fileInputProfile"} %>
    <% end %>



    <h4 class= "d-flex justify-content-center"><%= current_user.full_name %></h4>
    <div class="w-100 d-flex justify-content-center pb-3">
      <p class="mb-2"><em><%= @user.title %></em></p>
    </div>

    <% unless current_user.gallery_pictures.attached?%>
      <div class="my-1">
        <p class="title-profile">Ajouter des photos 📸</p>
      </div>
    <% end %>

    <%= form_with url: add_gallery_users_path(user_id: current_user.id), method: :post, local: true, html: { multipart: true, data: { add_gallery_pictures_target: "form" }  } do |form| %>
      <%= form.file_field :gallery_pictures, multiple: true, hidden: true, data: { add_gallery_pictures_target: "fileInput" } %>
    <% end %>

      <% if current_user.gallery_pictures.attached? %>
        <div class="d-flex justify-content-center mt-3">
          <div class="image-gallery gap-2 d-flex flex-wrap align-items-center mb-4">
            <% current_user.gallery_pictures.each_with_index do |image, index| %>
              <div class="d-flex flex-column justify-content-center">
                <%= link_to(delete_gallery_users_path(user_id: current_user.id, image_key: image.key), method: :delete, onclick: "return confirm('Êtes vous sûr de vouloir supprimer cette photo ?');", class: "delete-link") do %>
                  <i class="fa-sharp fa-solid fa-circle-xmark delete-icon"></i>
                <% end %>
                <a href="#" data-action="click->full-screen-gallery#showImage" data-index="<%= index %>">
                  <div class="image-wrapper image-container">
                      <%= cl_image_tag(image.key, class: 'img-fluid square-image', data: { full_screen_gallery_target: 'galleryImage', src: cl_image_path(image.key, width: 800, height: 600, crop: :fill) }) %>
                    <div class="spinner-wrapper spinner-small" data-full-screen-gallery-target="smallSpinner">
                      <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>

          <div class="add-slot-profile" data-action="click->add-gallery-pictures#addImages">
            <i class="fa-solid fa-plus"></i>
          </div>

          <!-- Full-screen gallery -->
          <div class="full-screen-gallery">
            <img src="" class="full-screen-gallery-image" data-full-screen-gallery-target="image">
            <div class="spinner-wrapper" data-full-screen-gallery-target="spinner">
              <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div data-full-screen-gallery-target="icons" class="d-none">
            <button class="full-screen-gallery-prev" data-action="click->full-screen-gallery#prevImage"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="full-screen-gallery-next" data-action="click->full-screen-gallery#nextImage"><i class="fa-solid fa-chevron-right"></i></button>
            <button class="full-screen-gallery-close" data-action="click->full-screen-gallery#hideGallery"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
      </div>
      <% else %>
        <div class="add-slot-profile" data-action="click->add-gallery-pictures#addImages">
          <i class="fa-solid fa-plus"></i>
        </div>
      <% end %>

      </div>



      <% if any_social_username_present?(@user) %>

        <div class="mt-4 d-flex justify-content-center gap-2">

          <% if @user.instagram_username.present? %>
            <%= link_to "https://instagram.com/#{@user.instagram_username}", target: "_blank", class:"text-decoration-none" do %>
              <div class="social-card-landing d-flex justify-content-center align-items-center">
                <i class="fa-brands fa-instagram"></i>
              </div>
            <% end %>
          <% end %>

          <% if @user.tiktok_username.present? %>
            <%= link_to "https://www.tiktok.com/@#{@user.tiktok_username}", target: "_blank", class:"text-decoration-none" do %>
              <div class="social-card-landing d-flex justify-content-center align-items-center">
                <i class="fa-brands fa-tiktok"></i>
              </div>
            <% end %>
          <% end %>

          <% if @user.facebook_username.present? %>
            <%= link_to "https://www.facebook.com/@#{@user.facebook_username}", target: "_blank", class:"text-decoration-none" do %>
              <div class="social-card-landing d-flex justify-content-center align-items-center">
                <i class="fa-brands fa-facebook"></i>
              </div>
            <% end %>
          <% end %>

          <% if @user.twitter_username.present? %>
            <%= link_to "https://twitter.com/#{@user.twitter_username}", target: "_blank", class:"text-decoration-none" do %>
              <div class="social-card-landing d-flex justify-content-center align-items-center">
                <i class="fa-brands fa-twitter"></i>
              </div>
            <% end %>
          <% end %>

        </div>
      <% end %>

      <div class="mt-4 d-flex justify-content-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#lien-reseaux" class="social-media-btn">
          Liens réseaux sociaux
        </a>
      </div>

      <div class="modal fade" id="lien-reseaux" tabindex="-1" aria-labelledby="lien-reseaux" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <%= simple_form_for(current_user, url: update_social_users_path, method: :patch) do |f| %>
                <div class="form-group d-flex justify-content-start align-items-center">
                  <div class="social-card">
                    <i class="fa-brands fa-instagram"></i>
                  </div>
                  <div class="flex-grow-1">
                    <%= f.input :instagram_username, label: false, placeholder: "@nom d'utilisateur - prénomnom", class:"flex-grow-1" %>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-start align-items-center">
                  <div class="social-card">
                    <i class="fa-brands fa-tiktok"></i>
                  </div>
                  <div class="flex-grow-1">
                    <%= f.input :tiktok_username, label: false, placeholder: "@nom d'utilisateur - prénomnom" %>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-start align-items-center">
                  <div class="social-card">
                    <i class="fa-brands fa-facebook"></i>
                  </div>
                  <div class="flex-grow-1">
                    <%= f.input :facebook_username, label: false, placeholder: "@nom d'utilisateur - prénom.nom" %>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-start align-items-center">
                  <div class="social-card">
                    <i class="fa-brands fa-twitter"></i>
                  </div>
                  <div class="flex-grow-1">
                    <%= f.input :twitter_username, label: false, placeholder: "@nom d'utilisateur" %>
                  </div>
                </div>
                <p class="text-center"><em>Pas la peine d'inclure le <strong>@</strong>, <strong>on s'en charge</strong> pour toi</em></p>
                <%= f.button :submit, "Valider", class: "btn-basic-bleu-large-onboard mt-2" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-column mx-3">
        <div class="block-info-profile">
          <%# <p class="title-profile text-align-center">Informations réservations 👇</p> %>

          <%= link_to edit_info_users_path, class: "text-decoration-none" do %>
            <div class= "d-flex mt-2 d-flex align-items-center justify-content-between btn-profile">
              <p class="mb-0"><i class="fa-solid fa-user me-2"></i>Informations personnelles</p>
              <div><i class="fa-solid fa-angle-right"></i></div>
            </div>
          <% end %>

          <%= link_to edit_formules_users_path(previous_page: "profile"), class: "text-decoration-none" do %>
            <div class= "d-flex mt-2 d-flex align-items-center justify-content-between btn-profile">
              <p class="mb-0"><i class="fa-solid fa-fire-flame-curved me-2"></i>Prestations proposées</p>
              <div><i class="fa-solid fa-angle-right"></i></div>
            </div>
          <% end %>

          <%= link_to edit_dispo_users_path, class: "text-decoration-none" do %>
            <div class= "d-flex mt-2 d-flex align-items-center justify-content-between btn-profile">
              <p class="mb-0"><i class="fa-sharp fa-solid fa-clock me-2 text-decoration-none"></i>Disponibilités hebdomadaires</p>
              <div><i class="fa-solid fa-angle-right"></i></div>
            </div>
          <% end %>

          <%= link_to edit_indispo_users_path, class: "text-decoration-none" do %>
            <div class= "d-flex mt-2 d-flex align-items-center justify-content-between btn-profile">
              <p class="mb-0"><i class="fa-solid fa-xmark me-2"></i>Indisponibilités hebdomadaires</p>
              <div><i class="fa-solid fa-angle-right"></i></div>
            </div>
          <% end %>

          <%= link_to edit_user_registration_path, class: "text-decoration-none" do %>
            <div class= "d-flex mt-2 d-flex align-items-center justify-content-between btn-profile">
              <p class="mb-0"><i class="fa-sharp fa-solid fa-gear me-2"></i></i>Compte et mot de passe</p>
              <div><i class="fa-solid fa-angle-right"></i></div>
            </div>
          <% end %>

          <%= link_to reservation_link(current_user.token), class: "text-decoration-none" do %>
            <div class= "d-flex mt-5 mt-2 justify-content-center btn-link-profile">
                <p class="p-0"><i class="fa-solid fa-link me-2"></i>Lien Chuck</p>
            </div>
          <% end %>
        </div>



      </div>
      <%# <p class="my-5 text-center mx-3">Contacte nous si tu souhaites modifier ton profil, les changements arrivent vite 🚀 !</p> %>


      <div class= "d-flex justify-content-center mt-1">
        <p><%=link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, onclick: "return confirm('Êtes vous sûr de vouloir vous déconnecter ?');", class: "btn-minimal-red w-100" %></p>
      </div>

    </div>
</div>
