<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<div class="container wrapper">
  <div class="mx-3">


    <div class="progress-bar-container">
      <div class="progress-bar">
        <div class="progress-bar-fill <%= 'step1' if @step == 'step1' %> <%= 'step2' if @step == 'step2' %> <%= 'step3' if @step == 'step3' %>"></div>
      </div>
      <div class="progress-bar-steps">
        <div class="progress-bar-step <%= 'active' if @step == 'step1' %>">
          <%# <div class="step-number">1</div> %>
          <%# <div class="step-desc">pInformations personnelles</div> %>
        </div>
        <div class="progress-bar-step <%= 'active' if @step == 'step2' %>">
          <%# <div class="step-number">2</div> %>
          <%# <div class="step-desc">Prestations et tarification</div> %>
        </div>
        <div class="progress-bar-step <%= 'active' if @step == 'step3' %>">
          <%# <div class="step-number">3</div> %>
          <%# <div class="step-desc">Emploi du temps</div> %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <%# <%= link_to onboarding_path(step: previous_step), data: { turbolinks: false }, class: "text-decoration-none" do %>
        <%# <div class="back-btn mt-2 mb-5">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end %>
      <p class="mt-2 mb-5 title-onboarding m-auto">2 - Prestations et tarification</p>
    </div>

    <div class="step2-survey">
      <div data-controller="add-formule-package">

        <%= simple_form_for @user, url: onboarding_path(step: 'step2') do |f| %>
            <%= f.simple_fields_for :formules do |formule_fields| %>
              <div data-add-formule-package-target="formule" class="formules-step2-child">
                <%= render 'formule_fields', f: formule_fields %>
              </div>
            <% end %>

          <p class="add-formule btn-minimal" data-action="click->add-formule-package#addFormule"><i class="fa-solid fa-circle-plus me-1"></i>Ajouter une autre prestation</p>

          <%= f.button :submit, "Etape suivante", class: "btn-basic-bleu-large-onboard mt-4", value: "Etape suivante   👉" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
