<!DOCTYPE html>
<html>
  <head>
    <title>ChuckApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <%= favicon_link_tag "Chuck-rounded.png", rel: "icon", type: "image/png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="<%= javascript_path 'manifest' %>">

    <%= render 'shared/ios_pwa_links' %>


    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link rel="canonical" href="https://www.chuckapp.fr">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.css" />
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>



    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>

    <%= yield :head %>


  </head>

  <body class="exception-page">

    <% unless (controller_name == 'bookings' && action_name == 'landing_reservation') ||
              (controller_name == 'bookings' && action_name == 'choose_reservation') ||
              (controller_name == 'bookings' && action_name == 'finish_reservation') ||
              (controller_name == 'bookings' && action_name == 'confirm_cancel') ||
              (controller_name == 'bookings' && action_name == 'confirm_suggestion') ||
              (request.path == '/' && !user_signed_in?) ||
              controller_name =="onboarding" %>
              <%= render "shared/navbar" %>
    <% end %>
    <% unless controller_name == 'pages' && !user_signed_in? %>
      <div data-controller="scroll-top" data-action="click->scroll-top#goTop" class="back-to-top">👆</div>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
