<!DOCTYPE html>
<html>
  <head>
    <title>ChuckApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <%= favicon_link_tag "Chuck-rounded.png", rel: "icon", type: "image/png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Define the web app title and link to the icons -->
    <meta name="apple-mobile-web-app-title" content="Chuck">
    <link rel="apple-touch-icon" href="/app/assets/images/PWA_small_logo_chuck.png">

    <!-- Define the display style and status bar color -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Theme color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#5761f2">

    <!-- Link to the manifest file -->
    <link rel="manifest" href="/manifest.json">


    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link rel="canonical" href="https://www.chuckapp.fr">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>

  </head>

  <body class="exception-page">

    <% unless (controller_name == 'bookings' && action_name == 'landing_reservation') || (controller_name == 'bookings' && action_name == 'choose_reservation') || (controller_name == 'bookings' && action_name == 'finish_reservation') || (request.path == '/' && !user_signed_in?) || controller_name =="onboarding" %>
      <%= render "shared/navbar" %>
    <% end %>
      <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
