<!DOCTYPE html>
<html>
  <head>
    <title>ChuckApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link rel="canonical" href="https://www.chuckapp.fr">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>

  </head>

  <body class="exception-page">

    <% unless (controller_name == 'bookings' && action_name == 'landing_reservation') || (controller_name == 'bookings' && action_name == 'choose_reservation') || (controller_name == 'bookings' && action_name == 'finish_reservation') || (request.path == '/' && !user_signed_in?) %>
      <%= render "shared/navbar" %>
    <% end %>
      <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
